In [ ]:
!pip install tpot

In [ ]:
from tpot import TPOTClassifier

pipeline_optimizer = TPOTClassifier()
pipeline_optimizer = TPOTClassifier(generations=5, population_size=20, cv=5,
                                    random_state=42, verbosity=2)

In [ ]:
import pandas as pd

features = [
    "MATRICULA", 'REPROVACOES_DE', 'REPROVACOES_EM', "REPROVACOES_MF", "REPROVACOES_GO",
    "NOTA_DE", "NOTA_EM", "NOTA_MF", "NOTA_GO",
    "INGLES", "H_AULA_PRES", "TAREFAS_ONLINE", "FALTAS", 
]

target = ["PERFIL"]

uninassau_ds = pd.read_csv('dataset_desafio_2.csv')
uninassau = pd.DataFrame(uninassau_ds, columns=features)

uninassau['target'] = uninassau_ds.PERFIL

uninassau.head()

   MATRICULA  REPROVACOES_DE  ...  FALTAS       target
0     502375               0  ...       3       EXATAS
1     397093               0  ...       3       EXATAS
2     915288               0  ...       3      HUMANAS
3     192652               1  ...       4  DIFICULDADE
4     949491               1  ...       5  DIFICULDADE

[5 rows x 14 columns]

In [ ]:
from tpot import TPOTClassifier
from sklearn.model_selection import train_test_split

digits = load_digits()
X_train, X_test, y_train, y_test = train_test_split(digits.data, digits.target,
                                                    train_size=0.75, test_size=0.25)

pipeline_optimizer = TPOTClassifier(generations=5, population_size=20, cv=5,
                                    random_state=42, verbosity=2)
pipeline_optimizer.fit(X_train, y_train)
print(pipeline_optimizer.score(X_test, y_test))
pipeline_optimizer.export('tpot_exported_pipeline.py')