<a href="https://colab.research.google.com/github/vicotrbb/machine_learning/blob/master/regressions/Credit_card_fraut_detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

# sklearn
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error

In [47]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
df = pd.read_csv('drive/My Drive/creditcard.csv')

In [6]:
df.head()

   Time        V1        V2        V3  ...       V27       V28  Amount  Class
0   0.0 -1.359807 -0.072781  2.536347  ...  0.133558 -0.021053  149.62      0
1   0.0  1.191857  0.266151  0.166480  ... -0.008983  0.014724    2.69      0
2   1.0 -1.358354 -1.340163  1.773209  ... -0.055353 -0.059752  378.66      0
3   1.0 -0.966272 -0.185226  1.792993  ...  0.062723  0.061458  123.50      0
4   2.0 -1.158233  0.877737  1.548718  ...  0.219422  0.215153   69.99      0

[5 rows x 31 columns]

In [16]:
features = df.drop(['Class'], axis=1)
target = df['Class']

In [19]:
x_train, x_test, y_train, y_test = train_test_split(features, target, test_size=0.2, random_state=5)
model = LogisticRegression(max_iter=1000)

model.fit(x_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=1000,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [24]:
model.predict(x_train.head(1))[0]

0

In [28]:
train_predict = model.predict(x_train)
rmse = np.sqrt(mean_squared_error(y_train, train_predict))
r2 = r2_score(y_train, train_predict)

print('Conjunto de treino')
print('RMSE: {} -> lower better'.format(rmse))
print('R2: {} -> higher better'.format(r2))

Conjunto de treino
RMSE: 0.02932974481583224 -> lower better
R2: 0.4939836594921825 -> higher better

In [30]:
model.predict(x_test.head(1))[0]

0

In [40]:
fraudulent = y_test[y_test == 1]

In [29]:
test_predict = model.predict(x_test)
rmse = np.sqrt(mean_squared_error(y_test, test_predict))
r2 = r2_score(y_test, test_predict)

print('Conjunto de teste')
print('RMSE: {} -> lower better'.format(rmse))
print('R2: {} -> higher better'.format(r2))

Conjunto de treino
RMSE: 0.029329551727624133 -> lower better
R2: 0.5279843577928283 -> higher better